{# If there are any errors on the form, display them #}

<div>
{% set formErrors = form.vars.errors.form.getErrors(true) %}
{% if formErrors|length %}
    <div style="text-align: top;" class="alert alert-danger">
        <ul>
            {% for error in formErrors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{{ form_start(form) }}
    <table>        
        <tr><td>Jméno:</b></td> <td>{{ form_widget(form.Name) }}</td></tr>
        <tr><td>Login:</td> <td>{{ form_widget(form.Login) }}</td></tr>
        <tr><td>Heslo:</td> <td>{{ form_widget(form.Password.first, { 'attr': {'class': 'form-control'}  }) }} </td></tr>
        <tr><td>Znovu heslo:</td> <td>{{ form_widget(form.Password.second, { 'attr': {'class': 'form-control'}  }) }}</td></tr>        
        <tr><td>Role:</td> <td>{{ form_widget(form.Role) }}</td></tr>        
    </table>
    <br>
    {{ form_widget(form.SignUp) }}
    {{ form_end(form) }}
 
</div>


    {#
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button  class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#}
