{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Změna hesla</h1>

    <div>
        {% set formErrors = form.vars.errors.form.getErrors(true) %}
        {% if formErrors|length %}
            <div style="text-align: top;" class="alert alert-danger">
                <ul>
                    {% for error in formErrors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {{ form_start(form) }}
            <table>        
                <tr><td>Staré heslo:</td> <td>{{ form_widget(form.OldPassword) }}</td></tr>        
                <tr><td>Heslo:</td> <td>{{ form_widget(form.NewPassword.first, { 'attr': {'class': 'form-control'}  }) }} </td></tr>
                <tr><td>Znovu heslo:</td> <td>{{ form_widget(form.NewPassword.second, { 'attr': {'class': 'form-control'}  }) }}</td></tr>        

            </table>
            <br>
            {{ form_widget(form.SignUp) }}
            {{ form_end(form) }}
         
        </div>

{% endblock %}
